.hero-section{
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(./img/pro.jpeg);
}
.CONTACT{
    height: fit-content;
    background: url(./img/map.avif)center/cover no-repeat;
}
::placeholder{
    color: rgb(173, 169, 169) !important;
}